{% extends "base.html" %}
{% block main %}
<form class = "form-horizontal" role="form" method="POST" action = "{{ url_for('save_user') }} ">
	{{ form.hidden_tag() }}
	<fieldset>
	<legend>Inscription</legend>
	<center>
		<table>
			<td>
	<div class="formulaire">
		<div class = "form-group">
			<div class="col-sm-10">
				<tr>
					{{ form.username.label }}
				</tr>	
				<tr>
					{{ form.username(size=50, class_="form-control", placeholder="Pseudo") }}
				</tr>
			</div>
		</div>
		</td>
		</br>
		<td>
		<div class = "form-group">
			<div class="col-sm-10">
				<tr>
					{{ form.password.label }}
				</tr>	
				<tr>
					{{ form.password(size=50, class_="form-control", placeholder="Mot de passe", type="password") }}
				</tr>
			</div>
		</div>
		</td>
		</br>
		<td>
		<div class = "form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<tr><button type = "submit" class = "btn btn-primary btn-md" >Valider</button></tr>
			</div>
		</div>
		</td>
	</div>
	</center>
	</table>
	</fieldset>
</form>
{% endblock %}

