{% extends "base.html" %}
{% block main %}
<h1> {{ title }} </h1>
<div class = "one_wine">
   <center>
     </br></br>
			<img src ="{{ url_for('static', filename='images/'+wine.image) }}"/></br>
			Nom  : {{ wine.name }}</br>
			Annee : {{ wine.vintage}}</br>
			Categorie   : {{ wine.category}}</br>
			Région : {{wine.region}}</br>
			Pays : {{wine.country}}</br>
			Volume : {{wine.quantity}} ml</br>
			</br>
			 <div class = "form-group">
			    <div class="col-sm-10">
			<form class = "form-horizontal" role="form" method="POST" action = "{{ url_for('add_panier',id=wine.id) }} ">
			  {% if current_user.is_authenticated() %}
				{{ form.qte(size=3, class_="form-control", placeholder="Quantité", style="width:100px;") }}
			  </br>
			  {% endif %}
			  <button class="btn btn-warning" type="submit"><span class="glyphicon  glyphicon-shopping-cart"></span> Ajouter au panier</button>
			  </div>
			  </div>
			  </form>
			{% if current_user.is_authenticated() and current_user.username=="admin" %}
			<a href="/edit_wine/{{ wine.id }}" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-edit"></span> Edit
			</a>
			{% endif %}
   </center>
</div>
{% endblock %}

