{% extends "base.html" %}
{% block main %}
<h1> {{ title }} </h1>
<div class = "{{type}}">
 		{%for a in selection%}
			{% if not loop.first %}
				{% if (loop.index0 % 3 ) == 0 %}
				<div class ="clearfix visible-md-block visible-lg-block "></div>
				{% endif %}
				{% if (loop.index0 % 2 ) == 0 %}
				<div class ="clearfix visible-sm-block"></div>
				{% endif %}
				{% if (loop.index0 % 1 ) == 0 %}
				<div class ="clearfix visible-xs-block"></div>
				{% endif %}
			{% endif %}
			<div class= "col-xs-12 col-sm-6 col-md-4 myimg">
				<a href="/wines_by_{{type}}/{{ a }}" title="{{type}} : {{a}}">
				<img src ="{{ url_for('static', filename='images/'+wines[loop.index0].image) }}" />
				</a>
				</br>
				<input type="button" value="{{a}}" onclick="self.location.href='/wines_by_vintage/{{ a }}'" class="bouton">
			</div>
		{% endfor %}
		
</div>
{% endblock %}
