h1 {
	color : blue;
	text-align : center;
}
h2 {
	display : inline;
}
div.sample {
	text-align : center;
	margin-left : 25%;
	margin-right : 25%;
	margin-top : 10em;
}
#main{
	margin-top: 5em;
}


div.row{
	text-align : center ;
}


.bouton {
    padding:8px 0;
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    color:#9D9D9D;
    font-size: large;
    display: block;
    margin-left : 33%;
    border-radius: 5px;
}
.bouton, .bouton:active {
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    background: -webkit-linear-gradient( #555, #2C2C2C);
    background: -moz-linear-gradient( #555, #2C2C2C);
    background: -ms-linear-gradient( #555, #2C2C2C);
    background: -o-linear-gradient( #555, #2C2C2C);
    background: linear-gradient( #555, #2C2C2C);
}

.page_number {
    text-align:center;
}


fieldset{
    width : 35%;
	margin-top: 10%;
	margin-left: 22%;
	position: fixed;
    padding-top: 15px;
    padding-left: 4%;
} 

table.panier
{
    border-collapse: collapse;
    text-align:center;
}
td.panier, th.panier
{
    border: 1px solid black;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}